.TrailerCard {
    padding: 4em 2em;
}

.TrailerCard h3 {
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0;
}
.TrailerCard h4 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}

.TrailerCard img {
    width: 15em;
    height: auto;
    border-radius: 0.3em;
}
.TrailerCard li {
    letter-spacing: 0;
    padding: 1em ;
    font-size: 0.9em;
}

@media screen and (max-width: 1100px) {
    .TrailerCard {
        padding: 2em 1em;
    }
}

@media screen and (max-width: 800px) {   
    .TrailerCard li {
        letter-spacing: 0;
        padding: 1em 2em;
        font-size: 0.9em;
    }
}
