/* navbar */
header {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0.6em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
  header nav a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    padding-right: 1em;
    letter-spacing: 0;
    justify-content: right;
    text-align: right;
  }
.header__links {
    margin-left: auto;
}
  header nav a.active {
    color: var(--primary);
  }
.header__logo img {
    width: 6.2em;
    justify-content: left;
    margin-left: 0.4em;
  }
  
/* footer */
.footer {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.footer a {
    text-decoration: none;
    letter-spacing: 0;
    font-weight: 600;
    padding: 0 1em;
    color: #fff;
}
footer nav a.active {
    color: var(--primary);
  }
.footer h4 {
    text-transform: uppercase;
}
.footer p {
    font-size: 1em;
    letter-spacing: 0;
    color: #fff;
}
.footer img {
    width: 15em;
}
.footer__center {
    margin-left: -2em;
}
.footer__social img {
    width: 2.5em;
    padding-top: 2em;
}
.footer__contact {
    padding-right: 1em;
}

.copyright {
    background-color: #fff;
    margin-bottom: -1em;
    padding-left: 3.6em;
}
.copyright p {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 600;
    color: var(--secondary);
    text-align: center;
    padding: 0.5em;
}

/*home*/
.home {
    padding: 2em;
}

.hero {
    text-align: center;
    padding: 2em 0em;
}
.hero h1 {
    font-size: 4.4em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary);
    margin-top: 0.44em;
}
.hero h2 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1.1em;
    text-transform: uppercase;
    margin-top: -0.46em;
}
.hero p {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.1em;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 1.2em;
    color: #fff;
}
.hero__divider {
    display: flex;
    justify-content: center;
}
.hero__divider div{
    height: 0.3em;
    width: 50em;
    background-color: var(--primary);
    margin-bottom: 3.8em;
}
.heroImg {
    height: 35vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.heroImg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .heroImg__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  } 
.heroImg img{
    width: 12em;
    height: auto;
}

.home__catchphrase-title {
    background-color: var(--light-yellow);
    margin: -2em;
}
.home__catchphrase-title h2 {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.7em;
    line-height: 1.1em;
    color: var(--secondary);
    padding: 0.8em 2em 1em 2em;
}
.home__catchphrase-title h3 {
    font-size: 1.75em;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--secondary);
    margin-top: -3em;
    padding-bottom: 2em;
}
.home__trailers {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4em 0;
}
.home__trailers h3 {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
}
.home__trailers h4 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.4em;
}
.home__trailers a {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: italic;
    text-decoration: underline;
    color: var(--primary);
}
.home__about {
    display: flex;
    padding: 4em 2em;
    margin: 0 -2em;
    background-color: #fff;
}
.home__about--image {
    padding-left: 6em;
}
.home__about--image img {
    width: 28em;
    height: 40em;
    border-style: solid;
    border-width: 6px;
    border-color: #fff;
    border-radius: 50%;
    box-shadow: -50px 0px 0px 0px #FFA500;
}
.home__about--text {
    padding: 4em 6em;
}
.home__about--text h2 {
    font-size: 4.4em;
    font-weight: 600;
    color: var(--secondary);
    text-transform: uppercase;
}
.home__about--text p {
    font-size: 1.15em;
    letter-spacing: 0;
    color: var(--secondary);
    max-width: 480px;
}
.home__cta {
    display: flex;
    padding: 6em 2em;
    margin: 0 -2em;
}
.home__cta--image {
    padding: 5em 2em 2em 3em;
}
.home__cta--image img {
    width: 25em;
    height: auto;
    border-style: solid;
    border-width: 6px;
    border-color: #fff;
    box-shadow: -50px 0px 0px 0px #FFA500;
}
.home__cta--text {
    padding: 2em 4em;
}
.home__cta--text h2 {
    font-size: 4.4em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}
.home__cta--text p {
    font-size: 0.8em;
    letter-spacing: 0;
    line-height: 25px;
    max-width: 480px;
    padding-bottom: 1.5em;
    color: #fff;
}
.home__cta--text a {
    font-size: 34px;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
}
.home__review {
    background-color: #fff;
    margin: -2em;
    padding: 2em;
}
.home__review h2{
    text-align: center;
    font-weight: 600;
    font-size: 4.4em;
    color: var(--secondary);
}
.home__review--cutomers {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.trailers {
    padding: 4em 2em;
}
.trailers__header {
    text-align: center;
    padding: 2em 2em 4em 2em;
}
.trailers h1 {
    font-size: 4em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}
.trailers h2 {
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0;
}
.trailers__divider {
    display: flex;
    justify-content: center;
    padding: 2em 0;
}
.trailers__divider div {
    height: 0.3em;
    width: 50em;
    background-color: var(--primary);
}
.trailers__card1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    color: var(--secondary);
    background-color: #fff;
    margin: -2em;
}
.trailers__header--card2 {
    text-align: center;
    color: #fff;
    background-color: var(--secondary);
    padding-top: 2em;
    margin: 2em;
}
.trailers__header--card2 h2 {
    font-size: 3em;
    text-transform: uppercase;
}
.trailers__header--card2 h3 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    padding: 0 8em;
    line-height: 1.5em;
}
.trailers__card2 {
    text-align: center;
    display: flex;
    margin: -2em;
}
.trailers__card3 {
    text-align: center;
    display: flex;
    margin: -2em;
    padding: 4em 0 4em 0;
    background-color: #fff;
    color: var(--secondary);
}
.trailers__card4 {
    text-align: center;
    display: flex;
    margin: -2em;
    padding: 4em 0 4em 0;
    background-color: var(--secondary);
    color: #fff;
}
.trailers__cta {
    background-color: var(--light-yellow);
    margin: -2em;
    padding: 0.01em 2em;
}
.trailers__cta h2 {
    font-size: 4em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--secondary);
}

/* contact page */
.contact__header {
    text-align: center;
    padding: 3.5em 1.5em;
}
.contact__header h1 {
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
}
.contact__header h2 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
}
.contact__details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 4em 8em 4em;
    text-align: center;
    gap: 6em;
}
.contact__details img {
    width: 600px;
    height: auto;
    padding-top: 2em;
}
.contact__details h3 {
    font-size: 40px;
    font-weight: 400;
}
.contact__details p {
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 400;
    color: #fff;
    margin-top: -1em;
}
.contact__divider--header {
    display: flex;
    justify-content: center;
}
.contact__divider--header div{
    height: 0.3em;
    width: 50em;
    margin-top: 2em;
    background-color: var(--primary);
    margin-bottom: 3.8em;
}
.contact__divider--footer {
    display: flex;
    justify-content: center;
}
.contact__divider--footer div{
    height: 0.3em;
    width: 50em;
    background-color: var(--primary);
    margin-bottom: 3.8em;
}

.whatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1em;
    cursor: pointer;
}


@media screen and (max-width: 1100px) {
    
.home__about {
    display: flex;
    padding: 1em 2em;
    margin: 0 -2em;
    background-color: #fff;
}
.home__about--image {
    padding: 4em;
}
.home__about--image img {
    width: 14em;
    height: auto;
}
.home__about--text {
    padding: 4.5em 4em;
}
.home__about--text h2 {
    font-size: 3em;
}

.home__cta {
    display: flex;
    padding: 4em 1em;
    margin: 0 -2em;
}
.home__cta--image {
    padding: 5em 2em 2em 2em;
}
.home__cta--image img {
    width: 15em;
    height: auto;
}
.home__cta--text {
    padding: 2em 2em;
}
.home__cta--text h2 {
    font-size: 3em;
}
.home__cta--text a {
    font-size: 2em;
}

.trailers__card2 {
    padding: 2em 0 4em 0;
}

.footer {
    display: block;
}
.footer__center {
    padding: 1em;
    margin: 0;
    width: auto;
}

.contact__header {
    text-align: center;
    padding-top: 1.5em;
}
.contact__header h1 {
    font-size: 3em;
}
.contact__header h2 {
    font-size: 1.2em;
}
.contact__details {
    display: block;
    padding: 1em 1em 8em 1em;
    gap: 2em;
}
.contact__details img {
    width:450px;
    padding-bottom: 4em;
}
.contact__details h3 {
    font-size: 2em;
}
.contact__details p {
    font-size: 1em;
    letter-spacing: 0;
    font-weight: 400;
    color: #fff;
    margin-top: -1em;
}
.contact__divider--header {
    display: flex;
    justify-content: center;
}
.contact__divider--header div{
    height: 0.3em;
    width: 50em;
    margin-top: 2em;
    background-color: var(--primary);
    margin-bottom: 3.8em;
}
.contact__divider--footer {
    display: flex;
    justify-content: center;
}
.contact__divider--footer div{
    height: 0.3em;
    width: 50em;
    background-color: var(--primary);
    margin-bottom: 3.8em;
}
}

@media screen and (max-width: 800px) {
    
.hero h1 {
    font-size: 2em;
}
.hero h2 {
    font-size: 1em;
}
.hero p {
    font-size: 1.5em;
    margin: 2em 0 -0.5em 0;
}

.home__catchphrase-title h2 {
    font-size: 1.5em;
    line-height: 1.1em;
    padding: 0.8em 1em 1em 1em;
}
.home__catchphrase-title h3 {
    font-size: 1em;
}
    
.home__trailers {
    display: block;
}
.home__trailers h3 {
    font-size: 1.5em;
}
.home__trailers h4 {
    font-size: 1em;
}
.home__trailers a {
    font-size: 0.8em;
}
.home__about {
    display: block;
    text-align: center;
}
.home__about--image {
    padding: 1em;
    justify-content: center;
}
.home__about--text {
    padding: 1em 1em;
}
.home__about--text h2 {
    font-size: 1.5em;
}
.home__about--text p {
    font-size: 1em;
}
.home__cta {
    display: block;
    text-align: center;
    padding: 1em;
    margin: 0 -2em;
}
.home__cta--image {
    padding: 2em 4em;
}
.home__cta--image img {
    width: 15em;
    height: auto;
}
.home__cta--text {
    padding: 1em;
}
.home__cta--text h2 {
    font-size: 2em;
}
.home__cta--text a {
    font-size: 1.2em;
}
.home__cta--text p {
    font-size: 0.8em;
    padding-left: 0em;
}
.home__review h2{
    font-size: 2em;
}
.home__review--cutomers {
    display: block;
    text-align: center;
}

.trailers h1 {
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}
.trailers__card1 {
    display: block;
    padding: 2em 0 4em 0;
}
.trailers__header--card2 {
    padding-top: 1em;
}
.trailers__header--card2 h3 {
    padding: 0 ;
}
.trailers__header--card2 h2 {
    font-size: 1.5em;
}
.trailers__header--card2 h3 {
    font-size: 1em;
}
.trailers__card2 {
    display: block;
}
.trailers__card3 {
    display: block;
    padding: 2em 0 4em 0;
}
.trailers__card4 {
    display: block;
    padding: 2em 0 4em 0;
}
.trailers__cta h2 {
    font-size: 3em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--secondary);
}
}


@media screen and (max-width: 500px) {
      header nav a {
        font-size: 11px;
      }
    .header__logo img {
        width: 5em;
        margin-left: 0;
      }    

    .home__cta--image {
        padding: 2em 3em;
    }
    .home__cta--image img {
        width: 12em;
        height: auto;
    }

    .trailers__cta h2 {
        font-size: 2em;
    }

    
    .contact__details img {
        width:100%;
        padding-bottom: 1em;
    }
    .contact__details h3 {
        font-size: 2em;
    }
    .contact__details p {
        font-size: 1em;
        letter-spacing: 0;
        font-weight: 400;
        color: #fff;
        margin-top: -1em;
    }

    .footer__center {
        font-size: 0.8em;
    }
    .footer__center--menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer img {
        width: 10em;
    }
    .footer__social img {
        width: 2em;
        padding-top: 2em;
    }
    .footer__contact {
        padding-right: 0;
    }
    .copyright {
        background-color: #fff;
        margin-bottom: -1em;
        padding-left: 0;
    }
    .copyright p {
        font-size: 12px;
        letter-spacing: 0;
        font-weight: 600;
        color: var(--secondary);
        text-align: center;
        padding: 0.5em;
    }

    .whatsapp {
        padding: 0.3em;
    }
}